@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.


@* <AuthorizeView Policy="GroupPolicy"> *@
@* <AuthorizeView Roles="AppUser"> *@
<AuthorizeView>
     <ul>
        @foreach (var item in context.User.Claims)
        {
            <li>Type: @item.Type, Value: @item.Value</li>
        }
    </ul>

    @if(context.User.IsInRole("Admin"))
    {
       <span>Your role is : <b>Admin</b></span> 
    }
    else if(context.User.IsInRole("AppUser"))
    {
       <span>Your role is : <b>AppUser</b></span> 
    } 
    else 
    {
        <span>Your role is : <b>not found</b></span> 
    }
</AuthorizeView>